<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Login</h1>
        <form action="/register" method="POST">
            <label for="username">Username</label><br>
            <input id="username" type="text" name="username" placeholder="Enter Username"/><br>
            <label for="email">Email</label><br>
            <input id="email" type="text" name="email" placeholder="Enter Email"/><br>
            <label for="password">Password</label><br>
            <input id="password" type="text" name="password" placeholder="Enter Password"/><br>
            
            <button type="submit">Login</button>
        </form>
        <p>Not a user yet? Click <a href="/login/register">register</a> to make a new account.</p>
    </body>
</html>